- content_for :title, t('.title')

.dashboard-content{style: "background: url('https://s3.eu-central-1.amazonaws.com/hamster-travel-images/backgrounds/#{Random.rand(32).to_s.rjust(2, "0")}.jpg') no-repeat center center fixed; background-size: 100% auto;"}
  .welcome-area
    .col-md-6.col-md-offset-3
      %h2
        = t('.welcome')
      %h3
        = t('.welcome_second')

      .form-group.btns
        %a.btn.btn-primary.btn-lg.btn-browse{href: trips_path}
          = t('.browse')
