- content_for :title, t('.title')

%div{class: 'row text-center'}
  %img{src: 'http://farm5.staticflickr.com/4131/4984793563_94f04af8f5_b.jpg', class: 'img-thumbnail', style: 'height: 400px'}

%div{class: 'row'}
  %p{class: 'lead'}

%div{class: 'row'}
  %p{class: 'lead'}
    = t('.placeholder')
