- content_for :title, t('.title')

.dashboard-content
  .welcome-area
    .row
      .col-md-6.col-md-offset-3
        %h2
          = t('.welcome')
        %h3
          = t('.welcome_second')

        .form-group.btns
          %a.btn.btn-primary.btn-lg.btn-browse{href: trips_path}
            = t('.browse')
          - if user_signed_in?
            %a.btn.btn-success.btn-lg{href: new_trip_path}
              = t('.add')
