- content_for :title, t('.title')

%div{class: 'row text-center'}
  %img{src: '/hamster4.jpg', class: 'img-thumbnail', style: 'height: 400px'}

%div{class: 'row'}
  %p{class: 'lead'}

%div{class: 'row'}
  %p{class: 'lead'}
    = t('.placeholder')
