- form ||= nil
- model_name ||= nil
- classes ||= nil
- placeholder ||= nil
- show_loading ||= nil
- callback ||= nil
- custom_bindings ||= nil
- allow_empty_typeahead ||= false

= render 'widgets/typeahead/typeahead', form: form, model_name: model_name, function: 'getCities', classes: classes,
  placeholder: placeholder, show_loading: show_loading, template: 'citiesTemplate.html', callback: callback,
  custom_bindings: custom_bindings, allow_empty_typeahead: allow_empty_typeahead