- form ||= nil
- model_name ||= nil
- classes ||= nil
- placeholder ||= nil
- show_loading ||= nil

= render 'widgets/typeahead/typeahead', form: form, model_name: model_name, function: 'getUsers', classes: classes,
  placeholder: placeholder, show_loading: show_loading, template: 'userTemplate.html', min_length: 2,
  callback: 'selectUser'