%div{'ng-show' => '!edit'}
  %p{class: 'travel-text'} {{trip.comment}}

%div{'ng-show' => 'edit', class: 'form-horizontal'}
  %div{class: 'form-group'}
    = text_area_tag 'day_comment', '', 'ng-model' => 'trip.comment', class: 'form-control',
      placeholder: t('trips.show.comment'), rows: 12
