.participants{'ng-controller' => 'ParticipantsController', 'ng-init' => "init('#{@trip.id}')",
'ng-cloak' => ''}

  %span{'ng-repeat' => 'participant in participants track by participant.id', class: 'participant-link','ng-init' => ""}
    = render 'trips/partials/participant', invite: false
  %span{'ng-repeat' => 'participant in invited track by participant.id', class: 'participant-link'}
    = render 'trips/partials/participant', invite: true

  - if @user_can_edit
    %a{href: 'javascript:void(0)',
        'uib-popover-template' => "'invitePopover.html'",
        'popover-title' => t('trips.show.add_friend'),
        'popover-placement' => 'bottom',
        'popover-trigger' => 'open',
        'travel-popover-toggle' => ''}

      %img.img-circle.small-profile-pic.add-participant{src: image_path('material/plus.png'), 'ng-hide' => 'popover_opened'}
      %img.img-circle.small-profile-pic.add-participant{src: image_path('material/close.png'), 'ng-show' => 'popover_opened'}
