%hr{'ng-show' => '$index > 0'}

%span{'ng-click' => 'transfer.isCollapsed = !transfer.isCollapsed'}
  %p{class: 'collapse-header'}
    %span{'ng-show' => '!!transfer.type_icon'}
      %i{class: '{{transfer.type_icon}}'}
    %u
      {{transfer.city_from_text}}
      %span{'ng-show' => '!!transfer.station_from'}
        ({{transfer.station_from}})
    = fa_icon 'arrow-right'
    %u
      {{transfer.city_to_text}}
      %span{'ng-show' => '!!transfer.station_to'}
        ({{transfer.station_to}})
    %span{'ng-show' => 'transfer.price != undefined'}
      {{transfer.price}}
      = fa_icon 'ruble'

%div{'ng-show' => '!transfer.isCollapsed'}
  %p
    %span{'ng-show' => '!!transfer.code'}
      {{transfer.code}}
    %span{'ng-show' => '!!transfer.company'}
      {{transfer.company}}

  %p{'ng-show' => '!!transfer.start_time'}
    = t('trips.show.departure')
    {{transfer.start_time | date:'dd.MM.yyyy HH:mm':'UTC'}}

  %p{'ng-show' => '!!transfer.end_time'}
    = t('trips.show.arrival')
    {{transfer.end_time | date:'dd.MM.yyyy HH:mm':'UTC'}}

  %p{'ng-show' => '!!transfer.comment', class: 'travel-text text-italic' } {{transfer.comment}}
