.transfer-direction{'ng-init' => 'min_height_station = (!!transfer.station_from != !!transfer.station_to)'}
  .transfer-city.transfer-element
    .city-name
      {{transfer.city_from_text}}
    .station-name{'ng-class' => "{'min-height': min_height_station}"}
      {{transfer.station_from}}
    .time
      {{transfer.start_time | date:'HH:mm':'UTC'}}
  .transfer-icon.transfer-element
    %img{src:'{{transfer.type_icon}}'}
  .transfer-city.transfer-element
    .city-name
      {{transfer.city_to_text}}
    .station-name{'ng-class' => "{'min-height': min_height_station}"}
      {{transfer.station_to}}
    .time
      {{transfer.end_time | date:'HH:mm':'UTC'}}

.transfer-price{'ng-show' => 'transfer.amount_cents != undefined'}
  = image_tag 'common/money.svg'
  {{transfer.amount_cents / 100.0 | number: 2}}
  {{transfer.amount_currency_text}}

.transfer-company{'ng-show' => '!!transfer.code || !!transfer.company'}
  = image_tag 'transfers/tickets.svg'
  {{transfer.code}}
  {{transfer.company}}

.transfer-comment.text.text-italic{'ng-show' => '!!transfer.comment'} {{transfer.comment}}
