%ul.nav.nav-tabs
  %li{class: ('active' if params[:tab].blank? || params[:tab] == ApplicationHelper::TAB_PLAN)}
    = link_to t('trips.show.plan'), trip_path(@trip, tab: ApplicationHelper::TAB_PLAN)
  %li{class: ('active' if params[:tab] == ApplicationHelper::TAB_PLAN_ACTIVITIES)}
    = link_to t('trips.show.plan_activities'), trip_path(@trip, tab: ApplicationHelper::TAB_PLAN_ACTIVITIES)
  %li{class: ('active' if params[:tab] == ApplicationHelper::TAB_REPORT)}
    = link_to t('trips.show.report'), trip_path(@trip, tab: ApplicationHelper::TAB_REPORT)
