%div.transfer-place{'ng-show' => '!edit', 'ng-model' => 'day.transfers',
        'ui-sortable' => '{connectWith: \'.transfer-place\', placeholder: \'well\', forcePlaceholderSize: true}'}
  %div{'ng-repeat' => 'transfer in day.transfers'}
    = render 'trips/partials/show_transfer'

%div{'ng-show' => 'edit'}
  %div.form-horizontal.transfer-place-edit{'ng-model' => 'day.transfers',
        'ui-sortable' => '{connectWith: \'.transfer-place-edit\', placeholder: \'well\'}'}
    %div{'ng-repeat' => 'transfer in day.transfers'}
      = render 'trips/partials/edit_transfer'
  .form-group.pull-right
    %a{href: 'javascript:void(0);', class: '', 'ng-click' => 'add(day.transfers,
      {"isCollapsed" : transfersCollapsed})'}
      = fa_icon 'plus'
