%div{'ng-show' => '!edit', 'ng-repeat' => 'transfer in day.transfers'}
  = render 'trips/partials/show_transfer'

%div{'ng-show' => 'edit'}
  %div{'ng-repeat' => 'transfer in day.transfers', class: 'form-horizontal'}
    = render 'trips/partials/edit_transfer'
  %div{class: 'form-group pull-right'}
    %a{href: 'javascript:void(0);', class: '', 'ng-click' => 'add(day.transfers,
      {"isCollapsed" : transfersCollapsed})'}
      = fa_icon 'plus'
