.row{'ng-controller' => 'EditingUsersController', 'ng-show' => 'editing_users.length > 0',
     'ng-cloak' => '', 'ng-init' => "init('#{@trip.id}')"}
  .col-md-12
    %div.alert.alert-info.watching-users
      = t('trips.show.watching_now')
      %i{'ng-repeat' => 'user in editing_users'}
        {{user}}
        %span{'ng-hide' => '$index == editing_users.length - 1'}
          ,
