<% content_for :title, t('.title') %>

<div class="landing">
  <div class="container hero-area">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="hero-header">
          <%= t('.welcome') %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="hero-text">
          <%= t('.welcome_text') %>
        </p>
        <div class="form-group hero-actions">
          <a class="btn btn-primary btn-lg btn-browse" href="<%= trips_path %>">
            <%= t('.browse') %>
          </a>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs">
      </div>
    </div>
  </div>
</div>
