<script id="userMap.html" type="text/ng-template">
  <div class="container">
    <h3><%= t('users.show.user_map') %></h3>
  </div>

  <div id="user_mapbox_container" style='width: 100%; height: 1000px;'>
  </div>
</script>