<script id="userTrips.html" type="text/ng-template">
  <div class="user-trips-container" ng-if="loaded">
    <h3>{{$ctrl.header}}</h3>
    <div class="user-trips" ng-if="trips.length > 0">
      <a href="/<%= I18n.locale %>/trips/{{trip.id}}" class="user-trip" ng-repeat="trip in trips track by trip.id"
           style="background: url('{{trip.image_url}}');">
        <div class="user-trip-content">
            <div class="user-trip-name">
              {{trip.name}}
            </div>
            <div class="user-trip-date">
              {{trip.start_date | date : 'dd.MM.yyyy'}}
            </div>
            <div class="user-trip-flags flags">
              <span ng-bind-html="country" ng-repeat="country in trip.countries">
              </span>
            </div>
        </div>
      </a>
    </div>

    <div class="user-empty-trips" ng-if="trips.length == 0">
      <%= t('users.show.no_trips') %>
    </div>
  </div>
</script>
