<script id="userMap.html" type="text/ng-template">
  <div class="user-profile">
    <div class="user-map-container" ng-if="loaded">
      <div class="container user-map-header" ng-if="visited_countries.length > 0">
        <h3><%= t('users.show.visited_countries') %></h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-xs-6 visited-country"
               ng-repeat="country in visited_countries track by country.iso3_code">
            <span ng-bind-html="country.flag_image"></span>
            {{country.name}}
          </div>
        </div>
      </div>

      <div class="container user-map-header">
        <h3><%= t('users.show.user_map') %></h3>
      </div>
      <div id="user_mapbox_container">
      </div>
    </div>
  </div>
</script>
