<script id="userTripsTab.html" type="text/ng-template">
  <div class="container user-profile">
    <user-trips user-id="'<%= @user.id %>'" path="'planned_trips'" header="'<%= t('users.show.planned_trips') %>'"></user-trips>
    <user-trips user-id="'<%= @user.id %>'" path="'finished_trips'" header="'<%= t('users.show.finished_trips') %>'"></user-trips>
  </div>
</script>
