body {
    padding-top: 80px;
}

.flag-small {
    border: 1px solid;
    width: 25px;
}

.form-horizontal .has-error
{
    margin: 0;
}

.form-horizontal .has-error:before, .form-horizontal .has-error::after
{
    display: block;
    clear: none;
}

.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
}

table .dropdown-menu a{
    text-decoration: none;
}

.trip-grid{
    margin-top: 10px;
}

.relative-position{
    position: relative;
}
.day-place-container .up-button{
    position: absolute;
    right: 25px; top: 8px
}
.day-place-container .delete-button{
    position: absolute;
    right: 5px; top: 8px
}
.relative-position .expand-button{
    position: absolute;
    right: 40px; top: 8px
}

.day-activity-container{
    position: relative;
}
.day-activity-container .delete-button{
    position: absolute;
    right: 20px; top: 8px
}
.day-activity-container .expand-button{
    position: absolute;
    right: 40px; top: 8px
}

.region-grey{
    background-color: #ecf0f1;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.collapse-header{
    cursor: pointer;
    cursor: hand;
    margin-right: 5px;
}

.activity-index{
    margin-top: 8px
}
.activity-index big{
    padding-left: 10px
}

#worldmap{
    height: 400px
}

.table-black-bordered > thead > tr > th, .table-black-bordered > tbody > tr > th, .table-black-bordered > tfoot > tr > th, .table-black-bordered > thead > tr > td, .table-black-bordered > tbody > tr > td, .table-black-bordered > tfoot > tr > td {
    border: 1px solid #000000;
}

.fixed-head > thead > tr > th{
    background-color: #ecf0f1;
}
.plan-header,.plan-header th {
    border-top-color: #ffffff !important;
    border-left: #ffffff !important;
    border-right: #ffffff !important;
    background-color: #ffffff !important;
}
.input-group .form-control{
    z-index: auto;
}
.plan-header a{
    text-decoration: none;
}

.margin-right-10{
    margin-right: 10px;
}
.travel-text {
    white-space: pre-line
}
.text-italic{
    font-style: italic;
}

.show-column-checkboxes{
    margin-right: 10px;
    margin-left: 20px;
    width: 70px;
}

.show-column-checkboxes.affix-top {
    padding-top: 70px;
}

.show-column-checkboxes.affix {
    top: 130px;
    right: inherit;
}

.btn-grey{
    background-color: #ecf0f1;
}

