body {
    padding-top: 80px;
}

.flag-small {
    border: 1px solid;
    width: 25px;
}

.form-horizontal .has-error
{
    margin: 0;
}

.form-horizontal .has-error:before, .form-horizontal .has-error::after
{
    display: block;
    clear: none;
}

.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
}

table .dropdown-menu a{
    text-decoration: none;
}

.trip-grid{
    margin-top: 10px;
}

.relative-position{
    position: relative;
}
.day-place-container .up-button{
    position: absolute;
    right: 25px; top: 5px
}
.day-place-container .delete-button{
    position: absolute;
    right: 5px; top: 5px
}
.day-expense-container .delete-button{
    position: absolute;
    right: 20px; top: 5px
}
.relative-position .expand-button{
    position: absolute;
    right: 40px; top: 5px
}
.day-place-container{
  input{
    padding-right: 37px !important;
  }
}
.day-activity-container{
    position: relative;
}
.day-activity-container .delete-button{
    position: absolute;
    right: 20px; top: 5px
}
.day-activity-container .expand-button{
    position: absolute;
    right: 40px; top: 5px
}

.region-grey{
    background-color: #ecf0f1;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.collapse-header{
    cursor: pointer;
    cursor: hand;
    margin-right: 5px;
}

.activity-index{
    margin-top: 8px
}
.activity-index big{
    padding-left: 10px
}

#worldmap{
    height: 400px
}

.table-black-bordered > thead > tr > th, .table-black-bordered > tbody > tr > th, .table-black-bordered > tfoot > tr > th, .table-black-bordered > thead > tr > td, .table-black-bordered > tbody > tr > td, .table-black-bordered > tfoot > tr > td {
    border: 1px solid #000000;
}

.fixed-head > thead > tr > th{
    background-color: #ecf0f1;
}
.plan-header,.plan-header {
  th {
    border-top-color: #ffffff !important;
    border-left-color: #ffffff !important;
    border-right-color: #ffffff !important;
    background-color: #ffffff !important;
    font-weight: normal !important;
  }
  .container{
    padding: 0px !important;
  }
}
.actions-butons{
  a{
    font-size: 18px;
    padding: 5px 10px;
    color: grey;
  }
}
.input-group .form-control{
    z-index: auto;
}
.plan-header a{
    text-decoration: none;
}

.margin-right-10{
    margin-right: 10px;
}
.travel-text {
    white-space: pre-line
}
.text-italic{
    font-style: italic;
}

.show-column-checkboxes{
    width: 70px;
}

.btn-grey{
    background-color: #ecf0f1;
}

.activity-place{
    min-width: 100px;
    min-height: 20px;
}
.activity-place-edit{
    min-width: 100px;
    min-height: 20px;
}
.transfer-place{
    min-width: 100px;
    min-height: 20px;
}
.transfer-place-edit{
    min-width: 100px;
    min-height: 20px;
}

.plan-row td{
    position: relative;
}
.edit-hover-button{
    position: absolute;
    right: 8px; top: 8px
}

.fileupload-form{
    position: relative;
}

.upload-trip-image-button{
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: white;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.498039);
    z-index: 10;
    border-radius: 3px;
}

.delete-trip-image-button{
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.498039);
    z-index: 10;
    border-radius: 3px;
}

.settings-link-position{
    position: absolute;
    z-index: 10;
    bottom: 10px;
}
.settings-link{
    color: white;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.498039);
    border-radius: 3px;
}
.upload-user-image-button{
    left: 5px;
}

.delete-user-image-button{
    left: 30px;
}

.user-profile-links{
    right: 10px;
}
.user-settings-link{
    right: 230px;
}

.user-edit-link{
    right: 91px;
}

.user-signout-link{
    right: 10px;
}

.user-profile-link{
    right: 339px;
}

.progress-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.image-preview{
    max-width: 100% ;
}

.bg-draft{
    background-color: #fff2f2;
}

.bg-planned{
    background-color: #edf4c5;
}

.bg-finished{
    background-color: #f5fff4;
}

.trip-status{
    display: inline-block;
}

.photo-processing{
    display: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
.report-link{
    margin-left: 2em;
    text-decoration: dashed;
}

.nav-tabs{
    li{
        margin-right: 20px;
    }
}
.plan-header-second-row{
  height: 60px;
  vertical-align: middle;
  padding-top: 20px;
}
.list-group-horizontal {
  .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: -6px;
    margin-right: 0;
    padding: 5px 15px;
    cursor: pointer;
  }
  .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
  }
  .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
  }
  .list-group-item.active{
    background-color: grey;
    border-color: lightgrey;
  }
}
.watching-users{
  margin: 10px 0px;
  background-color: lightyellow;
  color: black;
  font-size: 16px;
}
.trip-header{
  h4{
    margin-top: 0px;
  }
}