body {
    padding-top: 80px;
}

.flag-small {
    border: 1px solid;
    width: 25px;
}

.form-horizontal .has-error
{
    margin: 0;
}

.form-horizontal .has-error:before, .form-horizontal .has-error::after
{
    display: block;
    clear: none;
}

.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
}

.trip-grid{
    margin-top: 10px;
}

.relative-position{
    position: relative;
}
.day-place-container .up-button{
    position: absolute;
    right: 25px; top: 8px
}
.day-place-container .delete-button{
    position: absolute;
    right: 5px; top: 8px
}
.relative-position .delete-button{
    position: absolute;
    right: 20px; top: 8px
}
.relative-position .expand-button{
    position: absolute;
    right: 40px; top: 8px
}

.region-grey{
    background-color: #ecf0f1;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.collapse-header{
    cursor: pointer;
    cursor: hand;
    margin-right: 5px;
}

.activity-index{
    margin-top: 8px
}
.activity-index big{
    padding-left: 10px
}

#worldmap{
    height: 400px
}