body {
    padding-top: 80px;
}

.flag-small {
    border: 1px solid;
    width: 25px;
}

.form-horizontal .has-error
{
    margin: 0;
}

.form-horizontal .has-error:before, .form-horizontal .has-error::after
{
    display: block;
    clear: none;
}
