.trip-report{
    max-width: 80em;
    margin: auto;
    font-family: Arial, sans-serif;
}
.trip-report h3{
    margin-bottom: 1em;
}
.trip-report p{
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    margin: 0 0 1em;
}

body  {
    text-rendering: optimizeLegibility;
}

body,
input,
button  {-webkit-font-smoothing: antialiased; }