<% content_for :title, @user.full_name %>

<% content_for :page_javascript do %>
    <%= render 'components/users/user_info' %>
<% end %>

<div class="user-profile-header-wrapper">
  <div class="user-profile-header">
    <div class="container">
      <user-info user-id="'<%= @user.id %>'"></user-info>
    </div>
  </div>
</div>

<div class="container">
  <h3>Планируемые путешествия</h3>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <h3>Прошлые путешествия</h3>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
  <p>Здесь будут будущие путешествия пользователя</p>
</div>
