= render layout: 'common/user_profile_layout', locals: {page: :show} do
  %div{class: 'media'}
    %a{class: 'pull-left', href: '#'}
      %img{class: 'media-object img-thumbnail', width: '100', src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTPaRUd_FpidHCi4AlIo0BjrWIuG7AGFF6iVeZ_GfdKGu6OMas'}
    %div{class: 'media-body'}
      %h4{class: 'media-heading'}
        Placeholder header
      Placeholder text
