<% content_for :title, t('.title') %>
<%= render layout: 'common/user_profile_layout', locals: {page: :show} do %>
    <h3>
      <%= t('.trips') %>
    </h3>
    <%= render 'trips/partials/trip_list', trips: @trips %>
<% end %>
