<script id="tripDeleteLink.html" type="text/ng-template">
    <a href="javascript:void(0);" class="trip-link"
       action-confirmation="deleteTrip()" confirmation-text="<%= t('trips.show.delete_confirm') %>">
      <%= t('trips.show.delete_trip') %>
    </a>
</script>
