<script id="documents.html" type="text/ng-template">
  <div class="row">
    <div class="col-md-12">
      <div class="trip-documents" ng-show="documents_loaded">
      </div>
      <div class="trip-documents-mockup" ng-hide="documents_loaded">
        MOCKUP
      </div>
    </div>
  </div>
</script>
