<script id="tripImage.html" type="text/ng-template">
  <div class="fileupload-area"
       ng-class="{ 'clickable-area' : $ctrl.edit }"
       ngf-select="crop($files)"
       ng-disabled="!$ctrl.edit"
       ngf-accept="'image/*'"
       ngf-pattern="'image/*'"
       ngf-max-size="10MB"
  >
    <img class="trip-image" id="trip_image" ng-src="{{imageUrl}}" width="100%"/>
  </div>

  <a href="javascript:void(0);" class="btn-delete-trip-image hidden-xs" ng-if="$ctrl.edit"
     action-confirmation="delete()"
     confirmation-text="<%= t('common.delete_confirm') %>">
    <%= inline_svg 'buttons/delete.svg' %>
  </a>

  <div class="progress-wrapper" ng-if="uploading">
    <div class="progress">
      <div class="progress-bar" role="progressbar" width="{{progress}}%"></div>
    </div>
  </div>

  <div class="photo-processing" ng-if="processing">
    <%= t('common.photo_processing') %>
  </div>
</script>
