<script id="tripDescription.html" type="text/ng-template">
  <div class="row hidden-xs">
    <div class="col-xs-12 trip-description travel-text">
      {{$ctrl.text}}
    </div>
  </div>
  <div class="row hidden-xs" ng-if="$ctrl.text.length > 800">
    <div class="col-xs-12">
      <a href="javascript:void(0);" ng-click="showModal()"><%= t('trips.show.read_more') %></a>
    </div>
  </div>
</script>

<script id="tripDescriptionModal.html" type="text/ng-template">
  <div class="modal-header row">
    <div class="col-xs-10 header-text">
      <%= t('activerecord.attributes.travels/trip.short_description') %>
    </div>
    <div class="col-xs-2">
      <a href="javascript:void(0);" ng-click="close()" class="pull-right">
        <%= image_tag 'buttons/delete.svg' %>
      </a>
    </div>
  </div>
  <div class="modal-body">
    <p class="travel-text">{{text}}</p>
  </div>
</script>