<script id="tripImage.html" type="text/ng-template">
  <div class="fileupload-area">
    <img class="trip-image" id="trip_image" ng-src="{{$ctrl.imageUrl}}" width="100%"/>
  </div>

  <div class="progress-wrapper" ng-if="uploading">
    <div class="progress">
      <div class="progress-bar" role="progressbar"></div>
    </div>
  </div>

  <div class="photo-processing" ng-if="processing">
    <i class="fa fa-spinner fa-spin"></i>
    <%= t('common.photo_processing') %>
  </div>
</script>
