<script id="tripImage.html" type="text/ng-template">
  <div class="fileupload-area"
       ng-class="{ 'clickable-area' : $ctrl.edit }"
       ngf-select="upload($files)"
       ng-disabled="!$ctrl.edit"
       ngf-accept="'image/*'"
       ngf-pattern="'image/*'"
       ngf-max-size="10MB"
  >
    <img class="trip-image" id="trip_image" ng-src="{{$ctrl.imageUrl}}" width="100%"/>
  </div>

  <div class="progress-wrapper" ng-if="uploading">
    <div class="progress">
      <div class="progress-bar" role="progressbar"></div>
    </div>
  </div>

  <div class="photo-processing" ng-if="processing">
    <i class="fa fa-spinner fa-spin"></i>
    <%= t('common.photo_processing') %>
  </div>
</script>

<script id="tripImageCropModal.html" type="text/ng-template">
  <div class="modal-header">
    <button class="close" ng-click="close()" type="button">×</button>
    <h4>
      <%= t('modals.photo_preview.title') %>
    </h4>
  </div>
  <div class="modal-body">
    <img-crop image="image" result-image="resultImage"></img-crop>
  </div>
  <div class="modal-footer">
    <span class="btn btn-default pull-left" ng-click="close()">
      <%= t('modals.photo_preview.cancel') %>
    </span>
    <span class="btn btn-primary pull-right" id="upload_photo_button">
      <%= t('modals.photo_preview.upload') %>
    </span>
  </div>
</script>
