- link_default_text ||= nil
- model ||= nil

%label
  = link_default_text
%div
  %uib-timepicker{'ng-model' => model, 'show-meridian' => 'false', 'show-spinners' => 'false',
    'datetimepicker-neutral-timezone' => true, 'mousewheel' => 'false'}

  %span.clear-time.hidden-xs
    %a{'ng-click' => "#{model} = null"}
      = image_tag 'buttons/delete.svg'