- trips ||= []
- without_pagination ||= false

%div{class: 'trip-grid'}
  - if trips.blank?
    = t('.no_trips')
  - else
    - trips.each_slice(3) do |slice|
      %div{class: 'row'}
        - slice.each do |trip|
          %div{class: 'col-xs-12 col-md-4'}
            = render 'widgets/trips/trip_box', trip: trip
    - unless without_pagination
      = paginate trips
