- trip ||= nil

- unless trip.blank?
  %div{class: 'thumbnail clearfix'}
    %div{class: 'clearfix'}
      %a{href: trip_path(trip)}
        %img{class: 'img-responsive',
          src: trip.image_url_or_default,
          width: '100%'}
    %div{class: 'caption'}
      %h4
        = link_to trip.name, trip_path(trip)
      = "#{t('.author')}:"
      - unless trip.author.blank?
        = link_to trip.author.full_name, user_path(trip.author)
      %br
