- trip ||= nil

- unless trip.blank?
  %div{class: 'media well'}
    %a{class: 'pull-left', href: trip_path(trip), style: 'display: none'}
      %img{class: 'media-object img-thumbnail', src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTPaRUd_FpidHCi4AlIo0BjrWIuG7AGFF6iVeZ_GfdKGu6OMas', width: '100'}
    %div{class: 'media-body'}
      %h4{class: 'media-heading'}
        = link_to trip.name, trip_path(trip)
      = "#{t('.author')}:"
      - unless trip.author.blank?
        = link_to trip.author.full_name, user_path(trip.author)
      %br
