<% content_for :title, 'Oops!' %>
<div class="error-page">
  <div class="header">
    <%= t('errors.no_access') %>
  </div>
  <div class="image">
    <%= image_tag 'errors/no_access.svg' %>
  </div>
</div>
