<% content_for :title, 'Oops!' %>
<div class="error-page">
  <div class="header">
    <%= t('errors.not_found') %>
  </div>
  <div class="image">
    <%= image_tag 'errors/not_found.svg' %>
  </div>
</div>
