.days-sorting {
  display: table;
  border-collapse: collapse;
  width: 100%;
  .day-sorted-row {
    border: 1px solid $border-grey;
    display: table-row;
    background-color: white;
    cursor: move;
    vertical-align: top;

    .column {
      padding: 10px 15px;

      display: table-cell;
      vertical-align: top;
    }

    @media(max-width: 768px) {
      .transfer {
        display: none;
      }
    }
  }

  .move-buttons {
    width: 10%;
    .up-button, .down-button {
      height: 20px;
      img {
        height: 20px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .date-place, .transfer, .activity {
    width: 30%;
  }
}

.days-sorting-placeholder {
  height: 60px;
  display: table-row;
}

.days-sort-footer {
  display: flex;
  justify-content: center;

  .btn-primary {
    margin-right: 20px;
  }

  button {
    min-width: 100px;
  }
}

.days-sorting-progress {
  .header {
    font-size: 24px;
    color: $text-grey;
    text-align: center;
  }

  .image {
    margin-top: 20px;
    text-align: center;
    img {
      width: 180px;
      opacity: .2;
    }
  }
}