.progress-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-preview {
  max-width: 100%;
}

.fileupload-area {
  &.clickable-area {
    cursor: pointer;
  }
}

.image-crop-area {
  img-crop {
    width: 100%;
    min-height: 500px;
  }
}
