.dropdown-menu {
  max-height: 350px;
  max-width: 375px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-menu a {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu li {
  margin-top: .5em;
  margin-bottom: .5em;
}

.trip-typeahead {
  .flags {
    img {
      margin-right: 3px;
    }
  }
  .trip-image {
    height: 46px;
    margin-right: 15px;
  }
}

.dropdown-menu a.trip-typeahead {
  display: flex;
  flex-flow: row;
}