body {
  color: $dark-grey;
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 1.5;
}

body {
  text-rendering: optimizeLegibility;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

.text-italic {
  font-style: italic;
}

.text, .travel-text{
  white-space: pre-line;
}

.travel-text {

}