.user-profile-header-wrapper {
  margin-top: -95px;
  width: 100%;
  height: 500px;

  @media (max-width: 768px) {
    margin-top: -200px;
    height: 470px;
  }

  background: image-url('backgrounds/user_profile.jpg') no-repeat center center fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .user-profile-header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;

    color: white;
    padding-top: 200px;
  }
}

.user-info {
  &.ng-enter {
    animation: fadeIn 1s;
  }

  .user-basic-info {
    display: flex;
    flex-flow: row;

    .user-photo{
      position: relative;
      .img-user-profile {
        width: 100px;
        height: 100px;

        &.initials {
          font-size: 32px;
          padding-top: 34px;
          line-height: 32px;
        }
      }

      &.clickable-area {
        cursor: pointer;
      }

      &.uploading:after {
        content: '';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        opacity: 1;
        transition: all 1s;
        border-radius: 50%;
      }
    }

    .user-text {
      margin-left: 20px;
      .user-name {
        font-size: 2em;
      }
    }

    .user-city {
      img {
        height: 1em;
        vertical-align: baseline;
        margin-right: 8px;
      }
    }
  }

  .user-statistics {
    margin-top: 30px;
    .user-statistic {
      display: inline-block;
      margin-right: 2em;

      .statistic-number {
        font-size: 2em;
        text-align: center;
      }
    }
  }
}