.user-profile-header {
  .user-profile-tabs {
    width: 100%;

    .nav-tabs {
      overflow: hidden;
      width: 100%;
      font-weight: 300;
      display: flex;
      padding: 0;
      list-style: none;
      flex-flow: row wrap;

      li {
        margin-right: 20px;
        text-align: center;
        .tab-image {
          display: block;
          margin: auto;
          fill: $main-grey;
          stroke: $main-grey;
          width: 40px;
          height: 40px;
        }

        a {
          font-weight: 500;
          color: $main-grey;
        }

        a:hover {
          color: $ctaColor;
          box-shadow: none;
          .tab-image {
            fill: $ctaColor;
            stroke: $ctaColor;
          }
        }

        a.active, a.active:focus {
          border: none;
          color: $ctaColor;
          .tab-image {
            fill: $ctaColor;
            stroke: $ctaColor;
          }
        }
      }
    }
  }
}

.user-info {
  &.ng-enter {
    animation: fadeIn 1s;
  }

  .user-basic-info {
    display: flex;
    flex-flow: row;

    .user-photo {
      position: relative;
      .img-user-profile {
        width: 100px;
        height: 100px;

        &.initials {
          font-size: 32px;
          padding-top: 34px;
          line-height: 32px;
        }
      }

      .delete-image {
        position: absolute;
        color: #ffffff;
        border-radius: 50%;
        font-weight: bolder;
        top: 0px;
        right: 0px;
        padding: 0px 4px;
        border: 1px solid #bdc3c7;
        background-color: #f5f5f5;
        img {
          width: 10px;
          opacity: .75;
        }
      }

      &.clickable-area {
        cursor: pointer;
      }

      &.uploading:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
        transition: all 1s;
        border-radius: 50%;
      }
    }

    .user-text {
      margin-left: 20px;
      .user-name {
        font-size: 2em;
      }
    }

    .user-city {
      font-size: 1.5em;
      color: $text-grey;
      img {
        height: 1em;
        vertical-align: baseline;
        margin-right: .4ch;
        margin-bottom: -0.1em;
      }
    }
  }

  .user-statistics {
    color: $text-grey;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    .user-statistic {
      display: inline-block;
      margin-right: 2em;

      .statistic-number {
        color: $dark-grey;
        font-size: 2em;
        text-align: center;
      }
    }
  }
}
.visited-place {
  img {
    margin-right: .5em;
  }
  font-size: 1.2em;
  margin-bottom: 1em;

  .remove-place {
    img {
      margin-right: 0;
      margin-left: .3em;
      height: .7em;
      opacity: .6;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.user-profile-area {
  background-color: $background-grey;
  min-height: 100%;
}

.user-profile {
  .user-map-container {
    &.ng-enter {
      animation: fadeIn 1s;
    }
    .user-map-header {
      margin-bottom: 20px;
    }

    #user_mapbox_container {
      width: 100%;
      height: 500px;
      @media(max-width: 768px) {
        height: 300px;
      }
      @media(min-width: 1600px) {
        height: 800px;
      }
    }
  }

  .user-trips-container {
    &.ng-enter {
      animation: fadeIn 1s;
    }

    .user-empty-trips {
      font-size: 1.2em;
      color: $text-grey;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .user-trips {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .user-trip {
        border-radius: 4px;
        margin-right: 30px;
        width: 300px;
        height: 300px;
        margin-bottom: 30px;

        background-size: cover;

        &:hover {
          text-decoration: none;
        }

        .user-trip-content {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          padding-top: 80px;

          position: relative;
          border-radius: 4px;
        }

        .user-trip-image {
          width: 100%;
          margin-bottom: 10px;
        }

        .user-trip-name {
          color: white;
          padding: 0px 10px;
          max-height: 120px;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 10px;
          font-size: 1.5em;
        }

        .user-trip-date {
          font-size: 1.2em;
          padding: 0px 10px;
          margin-bottom: 10px;
          color: $light-grey;
        }

        .user-trip-flags {
          padding: 0px 10px;
          position: absolute;
          bottom: 10px;

          .flag {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.user-manual-cities-modal {
  .no-manual-cities {
    font-size: 1.3em;
    color: $main-grey;
  }

  overflow-y: scroll;

  @media(min-width: 1600px) {
    max-height: 600px;
  }
  @media(max-width: 1600px) {
    max-height: 400px;
  }
}
