.modal-header
  %h4
    Sort days
.modal-body
  .row
    .col-md-12.days-sorting{'ui-sortable' => '{placeholder: \'days-sorting-placeholder\'}', 'ng-model' => 'days'}
      .day-sorted-row{'ng-repeat' => 'day in days track by day.id'}
        .column.move-buttons
        .column.date-place
          .date{'ng-show' => 'day.date'}
            {{day.date | date:'dd.MM.yyyy'}}
          .index{'ng-hide' => 'day.date'}
            = t('common.day_number', number: '{{day.index}}')
          .place
            {{day.place_s}}
        .column.transfer
          {{day.transfer_s}}
        .column.activity
          {{day.activity_s}}
.modal-footer
  %button.btn.btn-primary
    OK
  %button.btn.btn-default
    Cancel
