<div class="modal fade" id="photo-preview-modal" style="z-index:1500;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">×</button>
        <h4>
          <%= t('.title') %>
        </h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <span class="btn btn-default pull-left" data-dismiss="modal">
          <%= t('.cancel') %>
        </span>
        <span class="btn btn-primary pull-right" id="upload_photo_button">
          <%= t('.upload') %>
        </span>
      </div>
    </div>
  </div>
</div>
