.btn-grey {
  background-color: #ecf0f1;
}

.ghost-button{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: $main-grey;
  border: 1px solid $main-grey;
  font-size: 16px;
}
