.btn-grey {
  background-color: #ecf0f1;
}

.ghost-button{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: $main-grey;
  border: 1px solid $main-grey;
  svg {
    fill: $main-grey !important;
  }

  &:hover {
    color: $dark-grey;
    border-color: $dark-grey;
    svg {
      fill: $dark-grey !important;
    }
  }
}

.btn {
  border-radius: 2px;
  &.full-width {
    width: 100%;
  }
}

.btn-primary {
  color: white !important;
  background-color: $ctaColor !important;
  border-color: $ctaColor !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover:active
{
  color: white !important;
  background-color: $ctaColor !important;
  border-color: $ctaColor !important;
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  color: white !important;
  background-color: $ctaColor !important;
  border-color: $ctaColor !important;
}

a {
  color: $ctaColor;
}

.btn-success, .btn-primary {
  svg {
    fill: white !important;
  }
}