.catering-container {
  margin-bottom: 2em;

  .header {
    color: $text-grey;
    font-size: 24px;
    @media(max-width: 992px) {
      font-size: 20px;
    }
    margin-bottom: 1em;
  }

  .text {
    white-space: pre-line;
    @media(max-width: 992px) {
      margin-top: 1em;
    }
  }

  .catering-form {
    margin-bottom: 40px;
    .catering-sum {
      margin-top: 30px;
    }
  }

  .catering-show {
    margin-bottom: 60px;
  }

  label {
    color: $main-grey;
  }

  .catering-value {
    font-size: 16px;
    color: $text-grey;

    img {
      width: 20px;
      display: inline-block;
      margin-top: -2px;
      opacity: .6;
    }

    .catering-value-text {
      display: inline-block;
      margin-left: .5em;
    }

  }

  .catering-wallet {
    margin-top: -4px !important;
  }

}

.catering-empty-state {
  margin-top: 20px;
  margin-bottom: 60px;

  .image {
    width: 200px;
    margin: auto;
    opacity: .6;

    img {
      width: 100%;
    }
  }

  .description {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: $main-grey;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .call-to-action {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
  }
}

.catering-mockup {
  .catering-mockup-header {
    background-color: $light-grey;
    height: 24px;
    border-radius: 4px;
    width: 60%;
    margin-bottom: 20px;
  }

  .catering-mockup-value {
    background-color: $light-grey;
    height: 16px;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 10px;
  }

  .catering-mockup-line {
    background-color: $light-grey;
    height: 13px;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 10px;
  }
}