.catering-container {
  margin-top: 2em;

  .catering-form, .catering-show {
    margin-bottom: 2em;
  }

  .catering-show {
    .header {
      color: $text-grey;
      font-size: 24px;
      margin-bottom: 1.5em;
    }

    .expenses {
      margin-bottom: 2em;
      position: relative;

      .main {
        color: $text-grey;
        font-size: 18px;
        margin-bottom: 0.5em;
      }

      .descr {
        font-size: 16px;
        color: $main-grey
      }

      span {
        display: block;
      }

      .separator-times:before {
        display: block;
        width: 16px;
        height: 16px;
        font-size: 16px;
        content: "\e014";
        font-family: 'Glyphicons Halflings';
        position: absolute;
        top: 15px;
        right: -10px;
        opacity: .5;
        z-index: 1000;
        color: $main-grey;
      }

      .separator-equal:before {
        display: block;
        width: 16px;
        height: 16px;
        font-size: 16px;
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        position: absolute;
        top: 15px;
        right: -5px;
        opacity: .5;
        z-index: 1000;
        color: $main-grey;
      }
    }

    .text {
      white-space: pre-line;
    }

  }
}
