$white: #ffffff;
$black: #000000;

$background-grey: #ecf0f1;
$main-grey: #7f8c8d;
$border-grey: #bdc3c7;
$text-grey: #666;
$light-grey: #f5f5f5;
$dark-grey: #333;

$ctaColor: #2980b9;
$link: #2980b9;

$planned: #d35400;
$draft: #e74c3c;
$finished: #27ae60;

$error: #c0392b;
$notificationRed: #c0392b;

$userBackground0: #34495e;
$userBackground1: #8e44ad;
$userBackground2: #e74c3c;
$userBackground3: #d35400;
