.dashboard-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
  z-index: 10;
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: #444444 !important;
  }
}

.welcome-area {
  padding-top: 14%;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  text-align: center;
  .btn-browse {
    margin-right: 15px;
  }
  .btns {
    margin-top: 50px
  }
  h2 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  h3 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 992px) {
  .welcome-area {
    .btn {
      padding: 15px 40px 15px 40px;
    }
  }
}

@media (max-width: 992px) {
  .welcome-area {
    padding-top: 150px;
    h2 {
      font-size: 24px;
    }
    h3 {
      color: white;
      font-size: 16px;
    }
  }
}

.dropdown-toggle{
  cursor: pointer;
}

.img-nav{
  height: 40px;
  margin-right: 5px;
}

.user-menu-toggle{
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  position: relative;
  overflow: auto;

  .incoming-invites {
    color: $white;
    font-weight: bolder;
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: 38px;

    padding: 0px 8px;
    border-radius: 50%;
    background-color: $dark-grey;
  }
}

.big-control{
  font-size: 18px;
}
