.fileupload{
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.fileupload-form {
  position: relative;
}

.upload-trip-image-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: white;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.498039);
  z-index: 10;
  border-radius: 3px;
}

.delete-trip-image-button {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.498039);
  z-index: 10;
  border-radius: 3px;
}

.progress-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.photo-processing {
  display: none;
}
