.fileupload{
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}


.progress-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.photo-processing {
  display: none;
}

.image-preview {
  max-width: 100%;
}

.fileupload-buttons{
  margin-top: 10px;
  form {
    display: inline-block;
    max-width: 36px;

    margin-right: 10px;
  }
}