.trip {
  background-color: $background-grey;

  .sticky-row {
    background: white;
  }

  .work-area {
    padding: 30px 40px;
    @media (max-width: 1250px) {
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    background-color: $white;

    overflow: hidden;

    .work-area-header {
      .row {
        margin-bottom: 20px;
      }
    }

    .budget {
      font-size: 18px;
      .budget-persons-input {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 50px;
        text-align: center;
      }
    }

    .nav-tabs {
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      width: 100%;
      font-weight: 300;
      font-size: 1.25em;
      position: relative;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      padding: 0;
      max-width: 1200px;
      list-style: none;
      -ms-box-orient: horizontal;
      -ms-box-pack: center;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      @media (max-width: 768px) {
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
      }
      li {
        margin-right: 20px;
        text-align: center;
        @media (max-width: 768px) {
          margin-right: 10px;
        }
        .tab-image {
          fill: $text-grey;
          stroke: $text-grey;
          width: 26px;
          height: 26px;
          margin-right: 7px;
          display: inline-block;
          margin-bottom: -10px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }

        a {
          -webkit-box-shadow: inset 0 -2px 0 #ddd;
          box-shadow: inset 0 -2px 0 #ddd;
        }

        a:hover {
          .tab-image {
            fill: $ctaColor;
            stroke: $ctaColor;
          }
        }
      }
      li.active a, li.active a:focus {
        border: none;
        -webkit-box-shadow: inset 0 -2px 0 $ctaColor;
        box-shadow: inset 0 -2px 0 $ctaColor;
        color: $ctaColor;
        .tab-image {
          fill: $ctaColor;
          stroke: $ctaColor;
        }
      }
    }

    .list-group {
      margin-bottom: 0;
      padding-left: 6px;
    }

    .edit-actions {
      a.pull-left {
        margin-right: 10px;
      }
      a.pull-right {
        margin-left: 10px;
      }
    }

    .relative-position {
      position: relative;
    }

    .day-place-container .up-button {
      position: absolute;
      right: 25px;
      top: 5px
    }

    .day-place-container .delete-button {
      position: absolute;
      right: 5px;
      top: 5px
    }

    .day-expense-container .delete-button {
      position: absolute;
      right: 20px;
      top: 5px
    }

    .relative-position .expand-button {
      position: absolute;
      right: 40px;
      top: 5px
    }

    .day-place-container {
      input {
        padding-right: 37px !important;
      }
    }

    .collapse-header {
      cursor: pointer;
      cursor: hand;
      margin-right: 5px;
    }

    .table-black-bordered > thead > tr > th, .table-black-bordered > tbody > tr > th, .table-black-bordered > tfoot > tr > th, .table-black-bordered > thead > tr > td, .table-black-bordered > tbody > tr > td, .table-black-bordered > tfoot > tr > td {
      background-color: $white;
      border: 1px solid $black !important;
    }

    .actions-butons {
      margin-top: 5px;
      margin-bottom: 15px;
      a {
        &.saving {
          padding-top: 14px;
          margin-right: 15px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .plan-header a {
      text-decoration: none;
    }

    .show-column-checkboxes {
      width: 70px;
    }

    .transfer-place, .transfer-place-edit {
      min-width: 100px;
      min-height: 20px;

      .transfer-edit-container {
        padding: 5px;
        margin-bottom: 2em;

        &:hover {
          background-color: $light-grey;
        }

        label {
          color: $main-grey;
        }

        .has-error {
          input {
            box-shadow: inset 0 -1px 0 #ddd !important;
          }
        }

        .clear-time {
          margin-left: 2px;
          opacity: .3;
          cursor: pointer;
          img {
            margin-top: -25px;
            width: 15px;
          }

          &:hover {
            opacity: 1;
          }
        }

        .uib-timepicker {
          display: inline-block;
        }
      }

      .transfer-show-container {
        padding: 5px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        &:hover {
          background-color: $light-grey;
        }

        .transfer-direction {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .transfer-element {
            margin-right: 25px;
          }

          .transfer-city {
            .city-name {
              font-size: 16px;
              text-align: center;
            }
            .station-name {
              font-size: 14px;
              color: $text-grey;
              text-align: center;

              &.min-height {
                min-height: 25px;
              }
            }
            .time {
              font-size: 18px;
              margin-top: 5px;

              text-align: center;
            }
          }

          .transfer-icon {
            font-size: 20px;
            color: $main-grey;
            opacity: .5;
            align-self: center;

            img {
              width: 30px;
            }
          }
        }

        .transfer-price, .transfer-company {
          margin-top: 10px;
          img {
            width: 15px;
            margin-right: 5px;
            opacity: .6;
          }
        }

        .transfer-company {
          img {
            opacity: .8;
          }
        }

        .transfer-comment {
          margin-top: 10px;
        }

      }
    }

    .bookmark-edit {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-top: 5px;
      img {
        width: 16px;
        margin-left: 5px;
      }
    }

    .activities {
      .activity-show-more {
        padding-top: 4px;
        cursor: pointer;
        position: relative;
        .activity-show-more-img {
          width: 18px;
          height: 24px;
          margin-left: 10px;
          position: absolute;
        }
        &.active {
          fill: $link;
        }
      }

      .activity {

        border-bottom: solid 1px $border-grey;
        padding-bottom: 30px;

        &.shadowed {
          opacity: .5;
        }
        img {
          width: 16px;
          &.image-text {
            margin-right: 3px;
          }
        }

        .activities-actions {
          @media (min-width: 768px) {
            text-align: right;
          }
          @media (max-width: 768px) {
            margin-top: 10px;
          }
        }

        .activity-day-header {
          margin-top: 25px;
          .activity-day-date {
            font-size: 18px;
            font-weight: 600;
            display: inline;
            cursor: pointer;
          }
        }

        .activity-action-link {
          display: inline;
          a:not(.btn) {
            text-decoration: underline;
          }
        }

        @media (min-width: 768px) {
          .activity-action-link + .activity-action-link {
            margin-left: 10px;
          }
        }

        .activity-day-places {
          display: flex;
          flex-flow: row;
          margin-top: 10px;

          .activity-day-place {
            font-size: 15px;
            margin-right: 10px;
            display: inline;
          }
        }

        .activity-day-places-edit {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          align-items: center;

          .form-group {
            display: flex;
            flex-flow: row;
            align-items: center;
            a {
              margin-left: 5px;
            }
          }

          .activity-day-place-edit {
            margin-right: 20px;
          }
        }


        .activity-day-info {
          color: $text-grey;

          .activity-day-comment {
            font-style: italic;
            margin-top: 10px;
          }
          .activity-day-add-info {
            .activity-day-expenses, .activity-day-bookmarks {
              .activity-day-expense, .activity-day-bookmark {
                margin-top: 10px;
              }
              .activity-day-expense-edit {
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-top: 10px;

                .expense-name {
                  width: 45%;
                }
                .input-group {
                  width: 45%;
                }
                .delete-expense {
                  margin-left: 10px;
                  img {
                    vertical-align: middle;
                  }
                }

              }
            }

            .activity-day-bookmarks {
              .activity-day-bookmark-edit {
                margin-top: 10px;
              }
            }
          }
        }

        .activity-day-activities-header {
          font-size: 18px;
          margin-top: 15px;
          color: $text-grey;
          font-weight: bold;
          cursor: pointer;
        }
        .activity-day-activities-footer {
          margin-top: 10px;
          .add-activity-link {
            font-size: 17px;
            margin-top: .8em;
            margin-bottom: .8em;
          }
        }

        .activity-info {
          padding: 5px;

          @media (min-width: 768px) {
            padding-left: 25px;
            padding-right: 25px;

            margin-left: -25px;
            margin-right: -25px;
          }

          .activity-drag-handle {
            cursor: grab;
            cursor: -webkit-grab;
            position: relative;

            .activity-drag-image {
              width: 15px;
              position: absolute;
              left: -20px;
              top: 3px;
              display: none;
            }
          }

          &:hover {
            @media (min-width: 768px) {
              background-color: $background-grey;

              .activity-drag-image {
                display: block;
              }
              .activity-header {
                .move-activity {
                  display: inline-block;
                }
              }
            }
          }

          .activity-header {
            font-size: 15px;
            cursor: pointer;

            &.high {
              font-weight: 700;
            }

            &.low {
              color: $text-grey;
              font-weight: 200;
            }

            .move-activity {
              display: none;
              margin-left: 10px;
              opacity: .5;
            }
          }

          .activity-edit {
            display: flex;
            flex-flow: column;
            .activity-edit-row {
              margin-bottom: 10px;
            }
            .delete-activity, .move-activity {
              margin-left: 10px;
            }

            .activity-ratings {
              display: flex;
              flex-flow: row;
              align-items: center;
              justify-content: space-around;

              .activity-rating {
                padding: 5px;
                text-align: center;
                cursor: pointer;

                &.selected {
                  .activity-text {
                    color: $dark-grey;
                    font-weight: bold;
                  }
                }

                .activity-stars {
                  text-align: center;
                  display: inline-block;
                  img {
                    width: 30px;
                    height: 30px;
                  }

                  img + img {
                    margin-left: -20px;
                  }
                }

                .activity-text {
                  font-size: 12px;
                  color: $text-grey;
                }
              }
            }
          }

          .activity-edit-header {
            display: flex;
            flex-flow: row;
            align-items: center;

            input {
              margin-left: 15px;
              max-width: 65%;
            }

            .activity-show-more {
              padding-top: 0px;
              padding-bottom: 18px;
            }
          }

          .activity-edit-more {
            margin-top: 10px;
          }

          .activity-comment {
            margin-top: .5em;
            max-width: 70em;
            line-height: 1.8;
          }
        }
      }

      .activity-mockup {
        .activity-mockup-day-header {
          background-color: $light-grey;
          height: 18px;
          margin-top: 25px;
          border-radius: 4px;
          width: 35%;
        }

        .activity-mockup-day-places-place {
          display: inline-block;
          height: 13px;
          margin-right: 10px;
          margin-top: 10px;
          background-color: $light-grey;
          width: 10%;
        }

        .activity-mockup-day-info-expenses {
          margin-top: 15px;
        }

        .activity-mockup-day-info-expenses-line {
          width: 80%;
          height: 13px;
          background-color: $light-grey;
          margin-bottom: 10px;
        }

        .activity-mockup-day-info-comment-line {
          width: 100%;
          height: 13px;
          background-color: $light-grey;
        }

        .activity-mockup-header {
          margin-top: 15px;
          width: 30%;
          height: 16px;
          background-color: $light-grey;
        }
      }

      .activity-empty-state {
        text-align: left;
        .activity-empty-state-header {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-top: 15px;
          font-size: 15px;
          color: $text-grey;
          max-width: 50em;

          @media (max-width: 768px) {
            font-size: 13px;
          }

          svg {
            margin-right: 1em;
            fill: $main-grey;
            min-width: 48px;
            height: 48px;
          }
        }
      }

      .activity-cta {
        margin-top: 20px;
      }
    }

    .plan-row td {
      position: relative;
    }

    .edit-hover-button {
      position: absolute;
      right: 8px;
      top: 8px
    }

    .list-group-horizontal {
      .list-group-item {
        display: inline-block;
        margin-bottom: 0;
        margin-left: -6px;
        margin-right: 0;
        padding: 5px 15px;
        cursor: pointer;
      }
      .list-group-item:first-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
      }
      .list-group-item:last-child {
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
      }
      .list-group-item.active {
        background-color: $main-grey;
        border-color: $border-grey;
      }
    }

  }

  .trip-dates {
    font-size: 18px;
    color: $main-grey;
  }

  .trip-links {
    margin-top: 5px;

    .trip-link {
      margin-right: 15px;
      text-decoration: underline;
    }
  }

  .trip-description {
    margin-bottom: 40px;
    margin-top: 20px;

    max-width: 65em;
  }

  .tags {
    margin-top: 20px;
  }

  .buttons {
    margin-bottom: 20px;
    .btn {
      margin-right: 10px;
    }
  }

  .flags {
    margin-top: 10px;
    img {
      margin-right: 8px;
    }
  }

  .delete-control {
    margin-left: 1em;
    opacity: 0.7;
  }

  .trip-header {
    margin-top: 23px;

    .trip-image {
      border: 1px solid $main-grey;
      border-radius: 4px;
    }

    .participants {

      @media (max-width: 992px) {
        .small-profile-pic {
          max-width: 30px;
          max-height: 30px;

          &.initials {
            font-size: 12px;
            padding-top: 9px;
            line-height: 12px;
          }
        }
      }

      a {
        text-decoration: none;
        margin-right: 10px;
      }

      .participant-link {
        position: relative;
      }

      .delete-action {
        position: absolute;
        color: $white;
        border-radius: 50%;
        font-weight: bolder;
        top: -20px;
        left: 45px;
        padding: 0px 4px;
        border: 1px solid $border-grey;
        background-color: $background-grey;

        &:hover {
          border-color: $ctaColor;
          transition: border-color .5s ease;
          -webkit-box-shadow: 0px 0px 5px 1px $ctaColor;
          -moz-box-shadow: 0px 0px 5px 1px $ctaColor;
          box-shadow: 0px 0px 5px 1px $ctaColor;
          img {
            opacity: 1;
          }
        }

        img {
          width: 10px;

          opacity: .5;
        }

        @media (max-width: 992px) {
          display: none;
        }

        &:focus {
          outline: none !important;
        }
      }

      .invited-user {
        opacity: .3;
      }

      .add-participant {
        opacity: .4;
        &:hover {
          opacity: .5;
          border: 1px solid $dark-grey;
          -webkit-box-shadow: 0px 0px 5px 1px $main-grey;
          -moz-box-shadow: 0px 0px 5px 1px $main-grey;
          box-shadow: 0px 0px 5px 1px $main-grey;
        }
      }

      .popover {
        margin-top: 30px;

        .arrow {
          visibility: hidden;
        }
      }

    }
  }

  .link-delete {
    padding-right: 0px;
    padding-left: 0px;
  }

  .reorder-link {
    text-decoration: underline;
    color: $text-grey;
  }

  td .day-date {
    margin-bottom: 15px;
  }
}

.input-group .form-control {
  z-index: auto;
}

.watching-users {
  margin: 10px 0px;
  background-color: lightyellow;
  color: black;
  font-size: 16px;
}

.small-profile-pic {
  width: 60px;
  height: 60px;
  border: 1px solid grey;

  &.initials {
    font-size: 24px;
    padding-top: 18px;
    line-height: 24px;
  }
}

.initials {
  color: white;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.userColor0 {
  background-color: $userBackground0;
}

.userColor1 {
  background-color: $userBackground1;
}

.userColor2 {
  background-color: $userBackground2;
}

.userColor3 {
  background-color: $userBackground3;
}

.xs-profile-pic {
  width: 22px;
  height: 22px;
  border: 1px solid grey;

  &.initials {
    font-size: 9px;
    line-height: 9px;
    padding-top: 5px;
  }
}

.typeahead-profile-pic {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border: 1px solid grey;

  &.initials {
    font-size: 18px;
    line-height: 18px;
    padding-top: 13px;
  }
}

.invite-users-popover {
  padding: 7px 14px;
}

.inline-action {
  img {
    max-width: 18px;
    opacity: .5;
  }

  &:hover {
    img {
      opacity: 1;
    }
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
  margin-left: 10px;
  text-decoration: none;
}

.days-info-popover {
  padding: 15px;
  min-width: 220px;
}