.trip{
  background-color: $background-grey;

  .work-area{
    margin: -20px -40px;

    padding: 20px 40px;
    background-color: $white;
  }
}

.relative-position {
  position: relative;
}

.day-place-container .up-button {
  position: absolute;
  right: 25px;
  top: 5px
}

.day-place-container .delete-button {
  position: absolute;
  right: 5px;
  top: 5px
}

.day-expense-container .delete-button {
  position: absolute;
  right: 20px;
  top: 5px
}

.relative-position .expand-button {
  position: absolute;
  right: 40px;
  top: 5px
}

.day-place-container {
  input {
    padding-right: 37px !important;
  }
}

.day-activity-container {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
}

.day-activity-container .delete-button {
  position: absolute;
  right: 20px;
  top: 5px
}

.day-activity-container .expand-button {
  position: absolute;
  right: 40px;
  top: 5px
}

.collapse-header {
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
}

.activity-index {
  margin-top: 8px
}

.activity-index big {
  padding-left: 10px
}

.table-black-bordered > thead > tr > th, .table-black-bordered > tbody > tr > th, .table-black-bordered > tfoot > tr > th, .table-black-bordered > thead > tr > td, .table-black-bordered > tbody > tr > td, .table-black-bordered > tfoot > tr > td {
  background-color: $white;
  border: 1px solid #000000 !important;
}

.actions-butons {
  a {
    font-size: 18px;
    padding: 5px 10px;
    color: grey;
  }
}

.input-group .form-control {
  z-index: auto;
}

.plan-header a {
  text-decoration: none;
}

.show-column-checkboxes {
  width: 70px;
}

.activity-place {
  min-width: 100px;
  min-height: 20px;
}

.activity-place-edit {
  min-width: 100px;
  min-height: 20px;
}

.transfer-place {
  min-width: 100px;
  min-height: 20px;
}

.transfer-place-edit {
  min-width: 100px;
  min-height: 20px;
}

.plan-row td {
  position: relative;
}

.edit-hover-button {
  position: absolute;
  right: 8px;
  top: 8px
}

.trip-status {
  display: inline-block;
}

.plan-header-second-row {
  height: 60px;
  vertical-align: middle;
  padding-top: 20px;
}

.list-group-horizontal {
  .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: -6px;
    margin-right: 0;
    padding: 5px 15px;
    cursor: pointer;
  }
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .list-group-item.active {
    background-color: grey;
    border-color: lightgrey;
  }
}

.watching-users {
  margin: 10px 0px;
  background-color: lightyellow;
  color: black;
  font-size: 16px;
}

.trip-header {
  margin-top: 23px;
  margin-bottom: 60px;
  h4 {
    margin-top: 0px;
  }
}

.nav-tabs {
  li {
    margin-right: 20px;
  }
}

.edit-actions {
  a.pull-left {
    margin-right: 10px;
  }
  a.pull-right {
    margin-left: 10px;
  }
}

