.trip-report {
  max-width: 65em;

  .header {
    font-size: 28px;
  }

  p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 0.5em;
  }

  .travel-text {
    white-space: pre-line;
  }
}
