@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic);
@import "sweetalert2";
@import "toastr";
@import "colors";
@import "screen-sizes";
@import "inputs";
@import "typography";
@import "buttons";
@import "footer";
@import "fileupload";
@import "images";
@import "profile_temp";
@import "flags";
@import "typeahead";
@import "trip_list";
@import "plan";
@import "report";
@import "dashboard";
@import "catering";
@import "messages";
@import "trip_form";
@import "tags";
@import "day_sort";
@import "errors";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-margin {
  margin: 0 !important;
}

.popover {
  max-width: none;
  z-index: 100;
}

.popover-inner {
  max-width: none;
}

.popover-content {
  padding: 0;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right !important;
}

.navbar-brand {
  img {
    height: 36px;
    margin-top: -6px;
  }
}
.i18n {
  display: none;
}

@media(max-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
  }

  .navbar-nav {
    margin: 0;
  }

  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.link-with-icon {
  display: inline-block;
  line-height: 1;
  svg {
    height: 1.5em;
    width: 1.5em;
    fill: $link;
    vertical-align: text-top;
    display: inline-block;
  }
}