@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic);

@import "colors";
@import "screen-sizes";
@import "inputs";
@import "typography";
@import "buttons";
@import "footer";
@import "fileupload";
@import "images";
@import "profile_temp";
@import "flags";
@import "typeahead";
@import "trip_list";
@import "plan";
@import "report";
@import "dashboard";
@import "catering";
@import "messages";
@import "trip_form";
@import "tags";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}