.trip-list {
  .trip-row {
    max-width: 960px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 3px;
    transition: background-color .1s ease;

    &:hover {
      background-color: $background-grey;

      .status-icon {
        opacity: 1;
      }
    }

    .content-cell {
      p {
        margin: 0 0 .3em;
      }

      .header {
        font-size: 20px;
        line-height: 150%;

        small {
          font-size: 75%;
          color: $main-grey;
        }
      }
    }
  }
}