body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  text-rendering: optimizeLegibility;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

.text-italic {
  font-style: italic;
}

.text, .travel-text{
  white-space: pre-line;
}