<script id="localeMenu.html" type="text/ng-template">
  <ul
    class="menu-options-popover"
    ng-controller="SaveLocaleController"
    ng-init="setUserId('<%= current_user&.id %>')"
  >
    <li class="flag-text-menu">
      <a href="" ng-click="setLocale('ru')">
          <%= flag 'ru', 24 %>
          Русский
      </a>
    </li>
    <li class="flag-text-menu">
      <a href="" ng-click="setLocale('en')">
          <%= flag 'gb', 24 %>
          English
        </a>
    </li>
  </ul>
</script>
<li class="dropdown">
  <a href="#" popover-placement="bottom" popover-trigger="'outsideClick'" uib-popover-template="'localeMenu.html'">
    <%= flag I18n.locale == :ru ? 'ru' : 'gb' %>
  </a>
</li>
