%header{class: 'navbar navbar-default navbar-fixed-top'}
  %div{class: 'container'}

    %div{class: 'navbar-header'}

      %button{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse', class: 'navbar-toggle'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}

      = link_to(t('.apptitle'), '/', {class: 'navbar-brand'})

    %nav{class: 'navbar-collapse collapse'}

      %ul{class: 'nav navbar-nav navbar-right'}

        = render 'layouts/partials/user_navbar'

        = render 'layouts/partials/locale_bar'