- if user_signed_in?
  %li{class: 'dropdown notifications', 'ng-controller' => 'NotificationsController', 'ng-cloak' => ''}
    %a{href: '#', class: 'dropdown-toggle notification-menu', 'data-toggle' => 'dropdown', 'ng-if' => 'invites.length > 0'}
      = image_tag 'common/bell.svg', class: 'notification-image'
      .pending-number
        {{invites.length > 9 ? '*' : invites.length }}
    %ul{class: 'dropdown-menu'}
      %li.invites{'ng-repeat' => 'invite in invites'}
        %span
          %a.invite-text
            {{invite.inviting_user_name}}
            = t('messages.index.invites_you_to')
            "{{invite.trip_name}}"

          %a.delete-img{href: 'javascript:void(0);'}
            = image_tag 'buttons/delete.svg'
          %a.approve-img{href: 'javascript:void(0);'}
            = image_tag 'common/check.svg'
