- profile_width = '12'

%div{class: 'row well'}
  - if user_signed_in? && current_user == @user
    - profile_width = '9'
    %div{class: 'col-md-3'}
      = render 'users/partials/menu', page: page

  %div{class: "col-md-#{profile_width}"}
    %div{class: 'login-profile-panel panel'}
      %img{class: 'login-profile-pic img-circle pic', src: 'https://s3.amazonaws.com/altmer-cdn/images/profile.jpeg'}
      %div{class: 'login-profile-name name'}
        %small
          = @user.full_name
        -#href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>

    = yield