%div{class: 'row well'}
  %div{class: 'col-md-3'}
    = render 'users/partials/menu', page: page

  %div{class: 'col-md-9'}
    %div{class: 'login-profile-panel panel'}
      %img{class: 'login-profile-pic img-circle pic', src: 'https://pbs.twimg.com/profile_images/444630537819287552/KH7jRcUe.jpeg'}
      %div{class: 'login-profile-name name'}
        %small
          = @user.full_name
        -#href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>

    = yield