- unless flash[:alert].blank?
  %div{class: 'alert alert-danger', id: 'flash-alert-error'}
    %button{class: 'close', 'data-dismiss' => 'alert'} &times;
    = flash[:alert]

- unless flash[:notice].blank?
  %div{class: 'alert alert-success', id: 'flash-alert-notice'}
    = flash[:notice]

- unless flash[:info].blank?
  %div{class: 'alert alert-warning', id: 'flash-info'}
    %button{class: 'close', 'data-dismiss' => 'alert'} &times;
    = flash[:info]
